* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--text-color: #FFFFFF;
	--background-color: #36393F;
	--share-button-icon: url(../assets/share_darkTheme.svg);
	--share-buton-background-color: #FFFFFF;
	--share-button-icon-color-hover: rgba(255, 255, 255, 0.2);
	--theme-switcher-span-background-color: #36393F;
	--theme-switcher-span-color-hover: rgba(255, 255, 255, 0.2);
	--theme-switcher-button-icon: url(../assets/moon.svg);
	--theme-switcher-button-icon-background-color: #FFFFFF;
	--theme-switcher-button-icon-color-hover: rgba(255, 255, 255, 0.2);
	--link-button-text-color: #FFFFFF;
	--link-button-background-color: #5865F2;
	--link-button-background-color-hover: #4752C4;
	--social-media-icon-color-hover: rgba(255, 255, 255, 0.2);
}

.lightTheme {
	--text-color: #000000;
	--background-color: #FFFFFF;
	--share-button-icon: url(../assets/share_lightTheme.svg);
	--share-buton-background-color: #000000;
	--share-button-icon-color-hover: rgba(0, 0, 0, 0.2);
	--theme-switcher-span-background-color: #FFFFFF;
	--theme-switcher-span-color-hover: rgba(0, 0, 0, 0.2);
	--theme-switcher-button-icon: url(../assets/sun.svg);
	--theme-switcher-button-icon-background-color: #000000;
	--theme-switcher-button-icon-color-hover: rgba(0, 0, 0, 0.2);
	--link-button-text-color: #FFFFFF;
	--link-button-background-color: #5865F2;
	--link-button-background-color-hover: #4752C4;
	--social-media-icon-color-hover: rgba(0, 0, 0, 0.2);
}

body {
	background-color: var(--background-color);
}

body * {
	font-family: "DM Sans", sans-serif;
	color: var(--text-color);
}

#container {
	width: 100%;
	max-width: 588px;
	margin: 56px auto 0px;
	padding: 0 24px;
}

#share-button button {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
    	height: 40px;
	font-size: 16px;
	background-color: var(--share-buton-background-color);
	background-image: var(--share-button-icon);
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	border-radius: 50%;
}

#share-button button:hover {
	outline: 8px solid var(--share-button-icon-color-hover);
}

#profile {
	position: relative;
	text-align: center;
	margin: 24px 0;
}

#profile img {
	width: 112px;
}

#profile p {
	font-weight: 500;
	line-height: 24px;
	margin-top: 8px;
}

#theme-switcher {
	position: relative;
	width: 64px;
	margin: 4px auto;
}

#theme-switcher button {
	width: 32px;
	height: 32px;
	background-color: var(--theme-switcher-button-icon-background-color);
	background-image: var(--theme-switcher-button-icon);
	background-repeat: no-repeat;
	background-position: center;
	border: 0;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 1;
	transform: translateY(-50%);
	animation: slide-back 0.2s;
}

.lightTheme #theme-switcher button {
	animation: slide-in 0.2s forwards;
}

#theme-switcher button:hover {
	outline: 8px solid var(--theme-switcher-button-icon-color-hover);
}

#theme-switcher span {
	display: block;
	width: 64px;
	height: 24px;
	background-color: var(--theme-switcher-span-background-color);
	border: 1px solid var(--theme-switcher-span-color-hover);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 9999px;
}

ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 24px 0;
}

ul li a {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 16px 24px;
	color: var(--link-button-text-color);
	background-color: var(--link-button-background-color);
	border-radius: 8px;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	text-decoration: none;
	font-weight: 500;
	transition: background 0.2s;
}

ul li a:hover {
	background-color: var(--link-button-background-color-hover);
}

#social-media {
	display: flex;
	justify-content: center;
	padding: 24px 0;
	font-size: 24px;
}

#social-media a {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 16px;
	transition: background 0.2s;
	border-radius: 50%;
}

#social-media a:hover {
	background-color: var(--social-media-icon-color-hover);
}

footer {
	padding: 24px 0;
	text-align: center;
	font-size: 14px;
}

@keyframes slide-in {
	from {
		left: 0;
	}

	to {
		left: 50%;
	}
}

@keyframes slide-back {
	from {
		left: 50%;
	}

	to {
		left: 0;
	}
}
